body {
    color: #444444 !important;
    /*font-size: 14px !important;*/
}

/*Home Page CSS New Starts*/

#HomeFirm {
    background-Image: url('/Content/images/firm-back.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
}

    #HomeFirm .row {
        margin: 5%;
        background-color: rgba(254,254,254,1);
    }

    #HomeFirm .col-md:first-child {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: justify;
        padding: 0 30px;
    }

    #HomeFirm a {
        display: table;
        /*background-color: unset !important;
    box-shadow: unset;
    border: 1px solid #000 !important;
    color: #000;*/
    }

#HomeResources {
    background-image: linear-gradient(to bottom, #3fb6ef, #205b78);
}

    #HomeResources .resource_title {
        font-size: 28px;
    }

    #HomeResources hr {
        background: #fff;
    }

    /*#HomeResources .col-md:nth-child(2){
    box-shadow: 0 0 20px 0
    rgba(0, 0, 0, 0.16);
}*/

    #HomeResources .col-md {
        box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.16);
        padding: 5%;
    }

    #HomeResources a {
        color: #fff;
        text-decoration: underline;
    }


.HomeBanner h1 {
    font-size: 2rem !important;
    font-weight: 700 !important;
}

#HomeBanner a i {
    color: black;
    font-size: 2rem;
    background: white;
    border-radius: 100%;
    height: 30px;
    width: 30px;
}

#HomeBanner .banner-caption p {
    font-size: 24px;
    color: #7f7f7f;
}

#HomeBanner {
    margin-top: 65px;
}

    #HomeBanner .banner-caption {
        width: 45%;
        margin-left: 10rem;
    }

        #HomeBanner .banner-caption p {
            font-size: 20px;
            color: #7f7f7f;
        }

        #HomeBanner .banner-caption a {
            background: #00ADEE;
            padding: 12px 20px;
            color: #fff;
            border-radius: 5px;
            margin-top: 100px;
            font-size: 18px;
        }

    #HomeBanner .carousel-indicators {
        display: none;
    }

    #HomeBanner .carousel-item-next, #HomeBanner .carousel-item-prev, #HomeBanner  .carousel-item.active {
        display: flex;
        align-items: center;
    }

#HomeServices .card-body .btn-primary, #HomeFirm a {
    color: #fff;
    /*background-color: #FF0000 !important;*/
    background-color: #00ADEE;
    border-color: unset !important;
    border: unset !important;
}


#HomeServices {
    margin: 3% 0 3.5% 0;
}

    #HomeServices .card-text {
        font-size: 14px;
        color: #444;
    }

.wrap-desc {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    line-height: 1.5;
    max-height: 50px;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

#HomeServices i {
    position: absolute;
    height: 65px;
    width: 65px;
    background: #12A4DE;
    border-radius: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border: 4px solid #fff;
    top: 38%;
}

    #HomeServices i:before {
        font-size: 36px;
    }

#HomeServices .icon2 {
    background: #7cc576;
}

#HomeServices .icon3 {
    background: #ff689b;
}

#HomeServices .card {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 5%;
    padding-top: 3%;
    height: 100%;
}

#HomeServices h3 {
    color: #062b40;
}



.sec-title {
    position: relative;
}

    .sec-title::before {
        content: "";
        position: absolute;
        left: 45%;
        bottom: -15px;
        height: 15px;
        width: 12%;
        border-bottom: 5px solid #FFB31C;
        top: 6.7rem;
    }

.sec-title1 {
    position: relative;
}

    .sec-title1::before {
        content: "";
        position: absolute;
        left: 0%;
        bottom: -15px;
        height: 15px;
        width: 22%;
        border-bottom: 5px solid #FFB31C;
        top: 2.7rem;
    }



/* Home Service CSS Start*/

#why-us .row {
    margin-top: 10%;
}

/*.hexagon {
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    width:160px;
    height:180px;
    background:#fff;
}

#shadow {
    filter: drop-shadow(0px 0px 5px rgba(91, 88, 88, 0.2));
    filter: border-radius(5px));
}*/

.hexagon i {
    font-size: 5rem;
}

.hexagon img {
    width: 35%;
}


.singleService {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

    .singleService .text-area {
        padding: 0 1.5rem;
    }

#why-us .singleService .text-area h4 {
    font-weight: 600;
}

.singleService h3 {
    font-weight: bold;
}

.box1 {
    position: relative;
    top: -4rem;
}

.box2 {
    position: absolute;
    top: -3rem;
}

.box3 {
    position: absolute;
    top: -6rem;
}

.box4 {
    position: absolute;
    top: -6rem;
}

#why-us a .singleService:hover .hexagon {
    background: url(/Content/images/home/hex-hover.png) !important;
    animation: bounce 2s infinite;
}

#why-us .col-md a {
    text-decoration: none;
    color: inherit;
}


@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }

    40% {
        transform: translateY(-30px);
    }

    60% {
        transform: translateY(-15px);
    }
}

/* Home Service CSS End*/

#HomeServicesItems {
    background: #00204f;
    /*background-image:url('/Content/images/pattern.png');*/
    background-repeat: repeat;
}

    #HomeServicesItems .card-body h5 {
        color: #276a8e;
    }

    #HomeServicesItems .card-body .item-link {
        color: #2c2c2c;
        position: relative;
    }

        #HomeServicesItems .card-body .item-link::after {
            content: '';
            position: absolute;
            left: 0;
            bottom: -10px;
            height: 2px;
            width: 40px;
            background: #33363e;
        }

        #HomeServicesItems .card-body .item-link:hover::after {
            width: 100%;
            background: #33363e;
            transition: all 300ms linear 0s;
        }

    #HomeServicesItems .card-body a:hover, a:focus {
        text-decoration: none;
        outline: none;
    }

    /*#HomeServicesItems .card{
    padding-bottom:6%;
}*/

    #HomeServicesItems .card-body .card-title {
        font-size: 20px;
        font-weight: bold;
    }

    #HomeServicesItems .card-body {
        padding: 5px 15px !important;
    }

/*#HomeServicesItems i {
    padding-left: 20px;
    font-size: 30px;
    /*color: #276a8e;*/


*/

#HomeServicesItems .card {
    box-shadow: unset !important;
}

#HomeServicesItems a {
    text-decoration: none;
    color: unset;
}

#HomeServicesItems .card-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#HomeServicesItems .icon {
    padding: 14px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    width: 60px;
    height: 60px
}

    #HomeServicesItems .icon i {
        font-size: 30px;
    }

/*#HomeServicesItems {
    background: #f5f8fd;
}*/
#HomeServicesItems .card {
    padding: 10px;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    margin: 0 10px 40px;
    /* background: #f5f8fd; */
    /* box-shadow: 0 10px 29px 0 rgba(68,88,144,.1); */
    transition: all .3s ease-in-out;
    text-align: center;
    border: unset;
    height: 270px;
}

#HomeServicesItems .card-text {
    font-size: inherit;
    color: #444;
}


#services {
    margin: 1% 0 3% 0;
}

    #services .a-wrap {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        color: inherit;
    }

.section-title {
    text-align: center;
    padding-bottom: 30px;
}

.services .icon-box {
    padding: 20px 15px;
    position: relative;
    overflow: hidden;
    background: #fff;
    box-shadow: 2px 0 35px 0 rgba(68, 88, 144, 0.12);
    transition: all 0.3s ease-in-out;
    border-radius: 8px;
    z-index: 1;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #eee;
}

    .services .icon-box:hover::before {
        background: #095E8E;
        top: 0;
        border-radius: 0px;
    }

    .services .icon-box::before {
        content: '';
        position: absolute;
        background: #fdeff2;
        right: 0;
        left: 0;
        bottom: 0;
        top: 100%;
        transition: all 0.4s;
        z-index: -1;
    }

.services .icon {
    margin-bottom: 15px;
    width: 55px;
    height: 55px;
    border: 2px solid;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
}

    .services .icon i {
        font-size: 30px;
        line-height: 1;
        /*color: #e43c5c;*/
        transition: all 0.3s ease-in-out;
    }


.services .icon-box:hover .icon i {
    color: #fff;
}

.services .icon-box:hover .icon {
    border-color: #fff !important;
}

.services .icon-box:hover .title {
    color: #fff !important;
}


.services .title {
    font-weight: 700;
    margin-bottom: 15px;
    font-size: 18px;
}


.services .description {
    font-size: 15px;
    line-height: 28px;
    margin-bottom: 0;
}

.services .icon-box:hover .description {
    color: #fff;
}

.know-more-btn {
    background: #095E8E;
    padding: 12px 20px;
    color: #fff;
    border-radius: 5px;
    text-decoration: none;
}

.services .icon-box:hover .know-more-btn {
    background: #fff;
    color: #000;
    text-decoration: none;
}


#exTab1 .nav-link {
    border: 1px solid #d4d6df;
    padding: 15px;
    transition: 0.3s;
    color: #444;
    background: #cecaca;
    font-weight: 600;
    font-size: 1rem;
    letter-spacing: 0.8px;
    display:flex;
    justify-content:center;
    align-items:center;

}

#hcircuit .nav-pills li a.active::before {
    content: "";
    width: 0px;
    height: 0px;
    border: 0.8em solid transparent;
    position: absolute;
    left: 43%;
    bottom: -23px;
    border-top: 10px solid #7130AA;
}

#exTab1 .nav-pills li a.active {
    background: #7130AA;
    color: #fff;
    border-color: #7130AA;
    font-weight: 600;
}

#hcircuit .nav-pills{
    display:flex;
    justify-content:flex-end;
}

#hcircuit .nav-pills > li {
    float: right;
    margin: 0 1rem;
}



#exTab1 .nav-link:hover {
    /*background: #ef6603;
        color: #fff;*/
    background: transparent;
}

#exTab1 .tab-content {
    color: white;
    color: inherit;
    padding: 5px 15px;
}

#exTab2 h3 {
    color: white;
    background-color: #428bca;
    padding: 5px 15px;
}

/* remove border radius for the tab */

#exTab1 .nav-pills > li > a {
    border-radius: 0;
}

/* change border radius for the tab , apply corners on top*/

#exTab3 .nav-pills > li > a {
    border-radius: 4px 4px 0 0;
}

#exTab3 .tab-content {
    color: white;
    background-color: #428bca;
    padding: 5px 15px;
}

#exTab1 .tab-pane ul {
    list-style: none;
    padding: 0 1rem;
}

#exTab1 .tab-pane li {
    padding-left: 1.3em;
}

    #exTab1 .tab-pane li:before {
        content: "\f00c"; /* FontAwesome Unicode */
        font-family: FontAwesome;
        display: inline-block;
        margin-left: -1.3em; /* same as padding-left set on li */
        width: 1.3em; /* same as padding-left set on li */
    }

#tech-wrap {
    margin-top: 4rem;
}


    #tech-wrap .techno-box {
        padding: 15px;
        position: relative;
        overflow: hidden;
        border-radius: 10px;
        background: #fff;
        box-shadow: 0 2px 29px 0 rgba(68, 88, 144, 0.12);
        transition: all 0.4s ease-in-out;
        transition-duration: 0.4s;
        transition-timing-function: ease-in-out;
        width: 100%;
        height: 100%;
    }

        #tech-wrap .techno-box span {
            color: #ff7800;
            font-weight: 600;
            font-style: italic;
        }

        #tech-wrap .techno-box h4 {
            font-weight: 700;
        }

    #tech-wrap .col-md-4 {
        margin-bottom: 2rem;
    }

        #tech-wrap .col-md-4 h4, #tech-wrap .col-md-4 p {
            margin-left: 40px;
        }

    #tech-wrap h4:first-child span, #health-wrap h4:first-child span {
        display: block;
        line-height: 2;
    }

    #tech-wrap .card:hover {
        box-shadow: 8px 8px 0px #7130AA;
    }

#hcircuit .nav-link i {
    margin-right: 0.8rem;
    font-size: 1.5rem;
}

#health-wrap .col-md ul {
    line-height: 2;
    display: table;
    margin: 0 auto;
    padding: 15px;
}

#health-wrap .health-box {
    position: relative;
    overflow: hidden;
    background: #fff;
    box-shadow: 0 2px 29px 0 rgba(68, 88, 144, 0.12);
    transition: all 0.4s ease-in-out;
    transition-duration: 0.4s;
    transition-timing-function: ease-in-out;
    width: 100%;
    height: 100%;
    font-size: 14px;
}

    #health-wrap .health-box h4 {
        text-align: center;
        padding: 10px;
        margin: 0;
        font-weight: 700;
        color: #fff;
    }


/*.why-us .box {
    padding: 50px 30px;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
    transition: all ease-in-out 0.3s;
    height: 270px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background:#e6e6e6;
}
.why-us .box:hover {
	background: #095E8E;
	padding: 30px 30px 70px 30px;
	box-shadow: 10px 15px 30px rgba(0, 0, 0, 0.18);
}

.why-us .box:hover span, .why-us .box:hover h4, .why-us .box:hover p {
	color: #fff;
}*/

.why-us .box span {
    display: block;
    font-size: 28px;
    font-weight: 700;
    color: inherit;
}

.why-us .box h4 {
    font-size: 24px;
    font-weight: 600;
    padding: 0;
    margin: 20px 0;
    color: #191919;
}

.why-us .box p {
    font-size: 15px;
    margin: 0;
    padding: 0;
}

#HomeWho img {
    width: 65%;
}

#HomeWho .who-desc {
    margin-top: 4rem;
}

.over-img {
    background: url(/Content/images/home/world-map.png);
    position: absolute;
    height: 300px;
    width: 285px;
    top: 12rem;
    left: 12rem;
    border-radius: 1rem;
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 0 3px 5px #ccc;
}



/*Slider Area Starts*/
#hcircuit #slider {
    position: relative;
    width: 23%;
    height: 35vw;
    margin: 2rem auto;
    font-family: "Helvetica Neue", sans-serif;
    perspective: 700px;
    transform-style: preserve-3d;
    top: unset;
}

#hcircuit input[type="radio"] {
    position: relative;
    top: 103%;
    left: 50%;
    width: 18px;
    height: 18px;
    margin: 0 15px 0 0;
    opacity: 0.4;
    transform: translateX(-83px);
    cursor: pointer;
}

    #hcircuit input[type="radio"]:nth-child(5) {
        margin-right: 0px;
    }

    #hcircuit input[type="radio"]:checked {
        opacity: 1;
    }

#hcircuit #slider label {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    color: white;
    font-size: 1rem;
    font-weight: normal;
    /*border-radius: 3rem;*/
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 400ms ease;
    flex-direction: column;
}

#hcircuit .slider-list {
    color: #444;
    font-size: 0.9rem;
    line-height: 1.7rem;
    position: absolute;
    top: 13rem;
}

    #hcircuit .slider-list ul li {
        list-style: none;
    }

        #hcircuit .slider-list ul li::before {
            content: "\f21e";
            padding-right: 10px;
            font-family: FontAwesome;
        }

#hcircuit .slider-heading {
    margin-bottom: 25rem;
    color: #fff;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

#hcircuit #slide2 .slider-heading {
    margin-bottom: 22rem;
}

#hcircuit #slide2 .slider-list {
    position: absolute;
    Top: 11rem;
    left: 3rem;
}

#hcircuit #slide3 .slider-heading {
    margin-bottom: 22.5rem;
}

#hcircuit #slide3 .slider-list {
    position: absolute;
    top: 11rem;
    left: 3rem;
}

#hcircuit #slide4 .slider-heading {
    margin-bottom: 22.5rem;
}

#hcircuit #slide4 .slider-list {
    position: absolute;
    top: 10rem;
    left: 2rem;
}

#hcircuit #slide5 .slider-heading {
    margin-bottom: 23rem;
}

#hcircuit #slide5 .slider-list {
    position: absolute;
    top: 10rem;
    left: 3rem;
}

#hcircuit .slider-heading img {
    width: 18%;
    margin-right: 0.8rem;
}

/* Slider Functionality */
/* Active Slide */
#s1:checked ~ #slide1, #s2:checked ~ #slide2, #s3:checked ~ #slide3, #s4:checked ~ #slide4, #s5:checked ~ #slide5 {
    /*box-shadow: 0 13px 26px rgba(0, 0, 0, 0.3), 0 12px 6px rgba(0, 0, 0, 0.2);*/
    transform: translate3d(0%, 0, 0px);
}

/* Next Slide */
#s1:checked ~ #slide2, #s2:checked ~ #slide3, #s3:checked ~ #slide4, #s4:checked ~ #slide5, #s5:checked ~ #slide1 {
    /*box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3), 0 2px 2px rgba(0, 0, 0, 0.2);*/
    transform: translate3d(80%, 0, -100px);
}

/* Next to Next Slide */
#s1:checked ~ #slide3, #s2:checked ~ #slide4, #s3:checked ~ #slide5, #s4:checked ~ #slide1, #s5:checked ~ #slide2 {
    /*box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);*/
    transform: translate3d(150%, 0, -250px);
    left: 5rem;
}

/* Previous to Previous Slide */
#s1:checked ~ #slide4, #s2:checked ~ #slide5, #s3:checked ~ #slide1, #s4:checked ~ #slide2, #s5:checked ~ #slide3 {
    /*box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);*/
    transform: translate3d(-150%, 0, -250px);
    left: -5rem;
}

/* Previous Slide */
#s1:checked ~ #slide5, #s2:checked ~ #slide1, #s3:checked ~ #slide2, #s4:checked ~ #slide3, #s5:checked ~ #slide4 {
    /*box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3), 0 2px 2px rgba(0, 0, 0, 0.2);*/
    transform: translate3d(-80%, 0, -100px);
}

/*Slider Area Ends*/

.bg-gray {
    background: #EFEFEF;
}

#trust-read #carouselExampleIndicators .carousel-indicators li {
    position: relative;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    width: 12px;
    height: 12px;
    margin-right: 3px;
    margin-left: 3px;
    text-indent: -999px;
    cursor: pointer;
    background-color: #fff;
    border: 1px solid #444;
}

#trust-read #carouselExampleIndicators .carousel-indicators {
    position: absolute;
    right: 0;
    bottom: 10px;
    left: 0;
    z-index: 15;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    align-items:center;
    padding-left: 0;
    margin-right: 0 !important;
    margin-left: 0 !important;
    list-style: none;
    width: 100%;
}

#trust-read #carouselExampleIndicators .carousel-indicators .active {
    background-color: #444;
}

#trust-read .carousel-inner {
    background: #fff;
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    box-shadow: 0 3px 20px;
    height: 350px;
}

#trust-read .carousel-control.right, #trust-read .carousel-control.left {
    background-image: none !important;
}

#trust-read .carousel-item {
    margin-right: unset;
    position: absolute;
    top: 1rem;
    padding: 1rem;
}


    #trust-read .carousel-item p {
        font-size: inherit;
        text-align: center;
        font-size:14px;   }

    #trust-read .testi{
        margin-top:2rem;
    }

#trust-read #service-inner-box ul a{
    position:relative;
}

#trust-read #service-inner-box ul a:first-child .box-title {
    opacity: 1 !important;
}

#trust-read #service-inner-box ul a:first-child::after {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: #55158e;
    background: -moz-linear-gradient(-45deg, #55158e 0%, #0d9494 100%);
    background: -webkit-linear-gradient(-45deg, #55158e 0%,#0d9494 100%);
    background: linear-gradient(135deg, #55158e 0%,#0d9494 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#55158e', endColorstr='#0d9494',GradientType=1 );
    overflow: hidden;
    opacity: 0;
    width: 100%;
    height: 100%;
    content: '';
    transition: all 0.4s ease-out;
    visibility: visible;
    opacity: 0.7;
}


.testi::before {
    content: "";
    position: absolute;
    left: 37%;
    height: 15px;
    width: 25%;
    border-bottom: 4px solid #FFB31C;
    bottom: 3rem;
}

#trust-read .carousel-item img {
    width: 8%;
    margin-bottom: 1rem;
}

.sec-title2::before {
    content: "";
    position: absolute;
    left: 3%;
    bottom: -15px;
    height: 15px;
    width: 22%;
    border-bottom: 5px solid #FFB31C;
    top: 5.5rem;
}

.sec-title3::before {
    content: "";
    position: absolute;
    right: 3%;
    bottom: -15px;
    height: 15px;
    width: 22%;
    border-bottom: 5px solid #FFB31C;
    top: 5.5rem;
}

/*#trust-read {
    background-image: url(/Content/images/home/wave.png);
    background-size: cover;
}*/


    #trust-read .service-box {
        margin-top: 3.5rem;
        float: right;
    }

        #trust-read .service-box .nav-tabs {
            border-bottom: unset;
            display: flex;
            justify-content:flex-end;
        }

            #trust-read .service-box .nav-tabs .nav-link {
                border: unset;
                border-radius: .25rem;
                width: 150px;
                height: 50px;
                display: flex;
                justify-content: center;
                align-items: center;
                color: #444;
                background: #cecaca;
            }

        #trust-read .service-box .nav-link i {
            font-size: 1.5rem;
            margin-right: 0.8rem;
        }

    #trust-read .nav-tabs .nav-item {
        margin-bottom: -1px;
        margin-right: 0.5rem;
    }

    #trust-read .service-box .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active::before {
        content: "";
        width: 0px;
        height: 0px;
        border: 0.8em solid transparent;
        border-top-color: transparent;
        border-top-style: solid;
        border-top-width: 0.8em;
        position: absolute;
        left: 43%;
        bottom: -19px;
        border-top: 10px solid #7130AA;
    }

    #trust-read .service-box .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
        color: #fff !important;
        background-color: #7130AA !important;
        border-color: #dee2e6 #dee2e6 #fff;
        display: flex !important;
        justify-content: center !important;
        align-items: center !important;
    }

    #trust-read .service-box .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
        color: #fff !important;
        cursor: default;
        background-color: #7130AA !important;
        border: unset;
        border-bottom-color: unset;
        display: flex !important;
        justify-content: center !important;
        align-items: center !important;
    }

    #trust-read .tab-content {
        margin-top: 3rem;
    }

    #trust-read #service-inner-box {
        height: auto;
        overflow: hidden;
    }

        #trust-read #service-inner-box ul {
            list-style: none;
            display: flex;
        }

#trust-read #service-inner-box ul li {
    margin-right: 1.5rem;
    position: relative;
}

#trust-read #service-inner-box ul li:last-child {
    margin-right: unset;
}

#trust-read #service-inner-box ul li .box-title {
    position: absolute;
    bottom: 0px;
    text-align: left;
    padding: 0 1rem;
    font-weight: 600;
    color: #fff;
    z-index: 3;
    opacity: 0;
}

#trust-read .singlefolio {
	height: 280px;
	width: 235px;
    overflow:hidden;
}

#trust-read .singlefolio img {
	object-fit: cover;
	width: 100%;
	height: 100%;
}

#trust-read #service-inner-box a{
    margin-right:1rem;
}

.singlefolio::after {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: #55158e; /* Old browsers */
    background: -moz-linear-gradient(-45deg, #55158e 0%, #0d9494 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #55158e 0%,#0d9494 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, #55158e 0%,#0d9494 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#55158e', endColorstr='#0d9494',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    overflow: hidden;
    opacity: 0;
    width: 100%;
    height: 100%;
    content: '';
    transition: all 0.4s ease-out;
}

.singlefolio:hover::after {
    visibility: visible;
    opacity: .7;
}

.singlefolio:hover .box-title {
    opacity: 1 !important;
}

footer .social-icons a {
    color: #fff !important;
}

footer .twitter_area .blockquote {
    min-height: 220px !important;
    height: 220px !important;
}

.social-icons a {
    margin-right:1rem;
}

.social-icons a:last-child {
    margin-right: 0;
}

.slider-list a{
    color:inherit;
    text-decoration:underline;
}

#why-us-mob .col-md img{
    width:25%;
}

#why-us-mob .col-md a {
    text-decoration:none;
    color:inherit;
}

#why-us-mob .col-md .card {
    height: 270px;
    margin: 0.5em;
}

#why-us-mob .col-md .card:hover {
    animation: bounce 2s infinite;
}

#hc-mob #solu {
    margin-top: 4em;
}

#hc-mob #solu i{
    font-size:1.5em;
    margin-right:0.6em;
}

#hc-mob .col-md .card {
    height: 27em;
    margin-bottom: 2em;
}

#hc-mob .card-body {
    padding: 2.5em;
}
#hc-mob .card-header {
    font-size: 1.5em;
    font-weight: 700;
    color: #fff;
}

#hc-mob .col-md ul {
    list-style: none;
}



#hc-mob #solu.col-md ul li::before {
    content: "\f21e";
    padding-right: 10px;
    font-family: FontAwesome;
    line-height: 1.78
}

#hc-mob .nav-pills{
    float:right;
}

#hc-mob .nav-link {
    border: 1px solid #d4d6df;
    padding: 15px;
    transition: 0.3s;
    color: #444;
    background: #cecaca;
    font-weight: 600;
    font-size: 1rem;
    letter-spacing: 0.8px;
    width:12em;
}

#hc-mob .nav-pills li a.active {
    background: #7130AA;
    color: #fff;
    border-color: #7130AA;
    font-weight: 600;
}

#hc-mob .nav-pills li a.active::before {
    content: "";
    width: 0px;
    height: 0px;
    border: 0.8em solid transparent;
    position: absolute;
    left: 43%;
    bottom: -23px;
    border-top: 10px solid #7130AA;
}

#hc-mob .nav-pills > li > a {
    border-radius: 0;
}

#hc-mob #HomeServicesItems .card {
    height: 290px;
}

#hc-mob .nav-pills > li + li {
    margin-left: unset !important;
}

@media (min-width: 1800px) and (max-width: 1920px) {

    #hcircuit .slider-list {
        color: #444;
        font-size: 0.9rem;
        line-height: 1.7rem;
        position: absolute;
        top: 16rem;
    }

    #hcircuit #slide3 .slider-list {
        position: absolute;
        top: 14rem;
        left: 6rem;
    }

    #hcircuit #slide2 .slider-list {
        position: absolute;
        Top: 13rem;
        left: 5rem;
    }

    #hcircuit #slide5 .slider-list {
        position: absolute;
        top: 13rem;
        left: 3rem;
    }

    #hcircuit #slide4 .slider-list {
        position: absolute;
        top: 13rem;
        left: 3rem;
    }

    #hcircuit .slider-heading, #hcircuit #slide2 .slider-heading, #hcircuit #slide3 .slider-heading, #hcircuit #slide4 .slider-heading, #hcircuit #slide5 .slider-heading {
        margin-bottom: 31rem;
    }
}


    @media (min-width: 1200px) and (max-width: 1280px) {
        #hcircuit #slider {
            width: 27%;
            height: 40vw;
        }

        #trust-read .service-box .nav-tabs .nav-link {
            width: 140px;
        }
    }

    @media (max-width: 1199.98px) {

        #trust-read .service-box .nav-tabs .nav-link {
            width: 140px;
        }

        #hc-mob .card-body {
            padding: 1.5em;
        }

        #hc-mob .nav-link {
            width: 14em;
        }

            #hc-mob .nav-link i {
                margin-right: 1em;
            }

        .singleService .text-area {
            padding: 0 3rem;
        }

        #trust-read .carousel-item p {
            font-size: 12px;
            text-align: center;
        }

        .sec-title2::before {
            top: 7.5rem;
        }

        #hc-mob #solu.col-md .card {
            height: 32em;
            margin-bottom: 2em;
            width: 20em;
        }

        #hc-mob #solu .row .col-md {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        #hc-mob #tech-tab {
            width: 100%;
        }
    }

    @media (max-width: 991.98px) {

        #HomeBanner .carousel-item-next, #HomeBanner .carousel-item-prev, #HomeBanner .carousel-item.active {
            background-position: 0 !important;
        }

        #why-us-mob .col-md .card {
            height: 270px;
            margin: 0.5em;
            width: 305px;
        }

        #trust-read .carousel-item p {
            font-size: inherit;
            text-align: center;
        }

        .sec-title::before {
            top: 9.7rem;
            width: 20%;
            left: 17rem;
        }

        #hcircuit #slider {
            width: 33%;
            height: 49vw;
        }

        #hc-mob #HomeServicesItems .card {
            height: 360px;
        }

        #hc-mob .container {
            max-width: 95% !important;
        }


        #hc-mob .hc-tab .col-md {
            text-align: center;
        }


        .sec-title2::before {
            display: none;
        }

        #hc-mob #solu {
            margin-top: 0em;
        }

        #hc-mob .hc-tab {
            margin-bottom: 3em;
        }

        #hc-mob .nav-pills {
            float: right;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        #HomeWho .row {
            display: inline-grid;
            flex-direction: column;
        }

            #HomeWho .row .col-md:first-child {
                display: none;
            }

        #HomeWho .who-desc {
            margin-top: 3rem;
        }

        #hc-mob #solu.col-md .card {
            height: 27em;
            margin-bottom: 2em;
            width: 23em;
        }

        #hc-mob #solu .row .col-md {
            display: flex;
            justify-content: center;
            align-items: center;
        }



        #trust-read .row {
            display: inline-grid;
            width: 100%;
        }

        #trust-read .col-md {
            text-align: center;
        }

        #trust-read .sec-title3 {
            text-align: center !important;
            margin-top: 3em;
        }



        #trust-read .carouselExampleIndicators {
            display: flex;
            justify-content: center;
            align-items: center;
        }



        .sec-title3::before {
            display: none;
        }

        #trust-read .service-box {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }

        #trust-read .col-md:last-child {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        #trust-read .col-md:first-child div:nth-child(2) {
            margin-top: 2em !important;
        }

        footer .quicklinks {
            border-left: unset;
            border-right: unset;
            padding-left: 15px;
        }

            footer .quicklinks ul li a, footer .quicklinks ul li a:hover {
                border-bottom: unset;
            }
    }

    @media (max-width: 767.98px) {

        #why-us-mob .col-md .card {
            width: 100%;
        }

        #trust-read .carousel-inner {
            height: 400px;
        }

        footer.flex_box, footer .flex_box {
            display: block;
            text-align: center;
        }

        #trust-read .row {
            display: flex;
            width: unset;
        }

        #hc-mob #HomeServicesItems .card {
            height: 265px;
        }

        #why-us-mob .col-md img {
            width: 15%;
        }

        #HomeBanner .banner-caption {
            width: unset;
            margin-left: 2.5em;
        }

        #HomeBanner .carousel-item {
            background-position: 30% 100% !important;
        }

        #HomeBanner .carousel-control-prev {
            display: none;
        }

        #HomeBanner .carousel-control-next {
            display: none;
        }

        .sec-title::before {
            display: none;
        }

        .why-us-desc p {
            margin-top: 1em !important;
        }
    }

    @media (max-width: 575.98px) {

        #trust-read .nav-tabs .nav-item {
            margin-bottom: -1px;
            margin-right: 0.5rem;
            margin-bottom: 1em !important;
        }

        #trust-read .carousel-item p {
            font-size: 14px;
            text-align: center;
        }


        #modalForm .modal.left .modal-dialog, .modal.right .modal-dialog {
            width: 290px !important;
        }

        footer.flex_box {
            text-align: center;
        }

        #HomeBanner .banner-caption {
            width: unset;
            margin-left: unset;
        }

        #HomeBanner .carousel-item {
            background-position: 30% 100% !important;
        }

        #HomeBanner .carousel-control-prev {
            display: none;
        }

        #HomeBanner .carousel-control-next {
            display: none;
        }

        .sec-title::before {
            display: none;
        }

        #trust-read #service-inner-box ul {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

            #trust-read #service-inner-box ul a:first-child {
                margin-bottom: 2em;
            }

        #trust-read .service-box .nav-tabs {
            border-bottom: unset;
            display: flex;
            justify-content: center;
            align-items: center;
        }


        #trust-read .nav-tabs .nav-item:last-child {
            margin-bottom: unset;
        }
    }
